body {
    background-color: black;
}

h1 {
    color: white;
}

.ball {
    display: grid;
    place-items: center;

    border-radius: 50%;
    height: 100px;
    width: 100px;
    margin: auto;

    
    font-size: 22px;
    font-weight: bold;
    
    transition:all 1s ease;
}

.ball1 {
    background-color: lightseagreen;
}

.ball2 {
    margin-block-start: 100px ;
    background-color: rgb(212, 0, 255);
}